@import "slices/juryClassement";
@import "slices/projectClassement";
.FinalResult{
  padding: 1rem;
  background-color: #FBFBFB;
  & > div {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
    background-color: white;
    padding: 1.5rem;
  }
  .SliceTitle{
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
  .bottom-side{
    margin-top: 2rem;
  }
}