@mixin button-primary{
  background-color: $color-primary;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  box-shadow: 0px 9px 25px rgba(194, 8, 49, 0.14);
  &.disabled{
    background-color: rgb(154 142 145);
    pointer-events: none;
  }
}
@mixin button-secondary{
  background-color: white;
  border: 0.25px solid #C20831;
  color: black;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  box-shadow: 0px 9px 25px rgba(194, 8, 49, 0.14);
}