@mixin th-1{
  font-size: 44px;
}
@mixin th-3{
  font-size: 25px;
}
@mixin th-35{
  font-size: 20px;
}
@mixin th-4{
  font-size: 18px;
}
@mixin th-5{
  font-size: 15px;
}
@mixin th-6{
  font-size: 13px;
}
@mixin th-7{
  font-size: 11px;
}

